<div class="row">


	<div class="span12">



     <table class="table">

     	<tr>

      <th>Name</th>
       <th>Hours</th>
      <th>Paid</th>
     

      </tr>

      <%@user.each do |user|%>

      <tr>

      <td><%= user.name%></td>
       <td><%= user.hours%></td>
       <%if user.paid%>
        <td>Yes</td>
        <%else%>
        <td>No</td>
        <%end%>
      </tr>

      <%end%>





     </table>





	</div>


</div>