<div class="row">

	<div class="span8">

		<h1>Enter Users</h1>

		<%= simple_form_for :chore, url: chores_path do |f|%>


		<%=f.input :name%>

		<%=f.input :submit%>

		<%end%>








	</div>


<div class="span4"></div>

<h1>User List</h1>








</div>