<div class="row">

	<div class="span12">

		<h2>Chore Listings</h2>

		<table class="table">
           <thead>
           <tr>
           	<th>User</th>
             <th>Chore</th>
             <th>Created At</th>
              <th>Instructions</th>
             
                <th>Active</th>
                

           </tr>

           </thead>

           <tbody>

           	<tr>
           		<%@chore.each do |chore|%>
           		<td>User Name</td>
             <td><%=chore.name%></td>
                <td><%=time_ago_in_words(chore.created_at)%></td>
                   <td><%=chore.summary%></td>
                   
                         <%if chore.active%>
                         <td>Chore is not completed!</td>
                         <%else%>
                         <td>Chore is completed!</td>
                         <%end%>


             

           	</tr>
              <%end%>


           </tbody>



		</table>

	
	</div>


	
</div>