<div class="row">

	<div class="col-lg-8 list_chores">

		<h2>Chore Listings</h2>

		<%@chore.each do |chore|%>

		   <p><%=chore.name%></p>

		      <p><%=chore.summary%></p>


           <%end%>
	</div>


	<div class="col-lg-4 list_users">

		<h2>Users</h2>
		</div>
</div>